ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.icon {
  fill: currentColor;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .active {
    position: relative;
    color: #2196f3;
  }
  .active::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    top: 47px;
  }
}

.btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border-style: none;
  min-width: 200px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #ffffff;
  color: #2196f3;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.checkbox:checked ~ .modal__agreement-text {
  color: black;
}

.checkbox:checked + .modal__checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-origin: content-box;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.72;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .header__container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__logo {
  color: #000000;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding: 15px 0;
  }
}

.header__logo--blue {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header__mobile-menu {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    z-index: 999;
  }
}

.header__mobile-menu.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .header__mobile-menu {
    display: flex;
    align-items: center;
  }
}

.header__mobile-open-btn {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .header__mobile-open-btn {
    display: none;
  }
}

.header__mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .header__mobile-close-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    margin-bottom: 300px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    gap: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav-list {
    margin-right: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav-list {
    margin-left: 93px;
    margin-right: 280px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav-link {
    font-size: 40px;
    line-height: calc(47 / 40);
  }
}

.header__nav-link.active {
  color: #2196f3;
}

.header__contacts {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__contacts {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts .header__contacts-link + .header__contacts-link {
    margin-left: 50px;
  }
}

.header__contacts-link {
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts-link-mail {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-link-mail {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts-link-phone {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: calc(40 / 34);
    color: #2196f3;
  }
}

.header__contacts-icon {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header__contacts-icon {
    display: none;
  }
}

.header__social-link-list {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .header__social-link-list {
    display: none;
  }
}

.header__social-link-item {
  display: flex;
}

.header__social-link-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.header__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-phone.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-phone@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desktop@2x.jpg);
  }
}

.hero__main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .hero__main-block {
    padding: 118px 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero__main-block {
    padding: 200px 0;
  }
}

.hero__main-block .btn {
  width: 200px;
  white-space: nowrap;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 3;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form-label {
  position: relative;
  color: #212121;
}

.modal__form-text {
  position: absolute;
  left: 0;
  top: -18px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-bottom: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.modal__form-input:focus {
  outline: none;
  border-color: #2196f3;
  cursor: text;
}

.modal__form-input:focus ~ .modal__form-icon {
  color: #2196f3;
}

.modal__textarea {
  height: 120px;
  padding: 12px 16px;
}

.modal__form-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-agreement {
  margin-bottom: 30px;
}

.modal__agreement-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .modal__agreement-text {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.modal__agreement-link {
  text-decoration: underline;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .modal__agreement-link {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.modal__checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-top;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal__form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.modal__submit-btn {
  align-self: center;
  width: 200px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-btn:hover, .modal__submit-btn:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.advantages__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #757575;
  font-size: inherit;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .advantages__list {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    width: calc(50% - 30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc(25% - 90px / 4);
  }
}

.advantages__icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
  }
}

.clients__icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, border-color;
  transition-timing-function: cubic-bezier(0/4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@media screen and (max-width: 767px) {
  .clients__icon-item {
    width: calc(50% - 30px * 2 / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__icon-item {
    width: calc(33% - 30px * 3 / 3);
  }
}

.clients__icon-item:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.work {
  padding-top: 0;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  text-align: center;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
  z-index: 1;
}

.work__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 2;
}

.work__text {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item-team {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-team {
    width: calc(50% - 15px * 2 / 2);
  }
}

@media screen and (min-width: 1200px) {
  .item-team {
    width: calc(25% - 30px * 4 / 4);
    flex-grow: 1;
  }
}

.item-team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.item-team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.item-team__position {
  margin-bottom: 16px;
}

.item-team__list-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.item-team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.item-team__link:hover .icon-person {
  color: #ffffff;
}

.item-team__link:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__main-block {
    margin-right: 165px;
  }
}

@media screen and (max-width: 767px) {
  .footer__main-block {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__tablet-main-block {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet-main-block {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
}

.footer__logo--blue {
  color: #2196f3;
}

.footer__adress {
  color: #ffffff;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    align-items: center;
  }
}

.footer__contacts-link {
  margin-top: 9px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer__social-links-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-links-block {
    margin-left: 70px;
  }
}

.footer__social-links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__social-links-list {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .footer__subscribe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-block {
    margin-left: auto;
  }
}

.footer__subscribe-form {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer__subscribe-form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.footer__subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__subscribe-btn {
  display: flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;
  width: 200px;
}

.footer__subscribe-input {
  width: 350px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer__subscribe-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscribe-input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__subscribe-input {
    margin-bottom: 20px;
  }
}

.footer__subscribe-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.footer__subscribe-icon {
  margin-left: 10px;
}

.filter-btn {
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  white-space: nowrap;
}

.filter-btn__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .filter-btn__list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .filter-btn__item:first-child {
    margin-bottom: 15px;
  }
}

.filter-btn:hover, .filter-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-example__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #eeeeee;
  border-width: 0 1px 1px 1px;
}

@media screen and (max-width: 767px) {
  .work-example__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-example__item {
    width: calc(50% - 30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .work-example__item {
    width: calc(33.3333% - 60px / 3);
  }
}

.work-example__top-box {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.work-example__image {
  height: 294px;
}

.work-example__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  opacity: 1;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.work-example__descr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .work-example__descr {
    width: 404px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-example__descr {
    width: 306px;
  }
}

@media screen and (min-width: 1200px) {
  .work-example__descr {
    width: 322px;
  }
}

.work-example__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.work-example__item:hover .work-example__overlay {
  opacity: 1;
  transform: translateY(-100%);
}

.work-example__item:hover .work-example__descr {
  opacity: 1;
}

.work-example__bottom-box {
  padding: 20px 24px;
  width: 100%;
}

.work-example__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-example__name {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */