ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.icon {
  fill: currentColor;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}
